img {
  width: 200px;
}

span {
  color: orange;
  font-family: cursive;
}

.jumbotron {
  text-align: center;
  color: Maroon;
  border: 2px solid black;
}

.column {
  width: 300px;
  float: right;
  margin: 12px;
}

.column li {
  color: Purple;
}

.column2 {
  width: 300px;
  float: right;
  margin: 12px;
  border: 2px solid black;
  padding: 5px;
  background-color: pink;
}
